.login-form{
	
    
    margin-left: 30%;
  	margin-top: 15%;
}

.login-form-title{
	background-color: rgb(92, 245, 105);
  	width: 415px;
  	height: 49px;
  	border-top-left-radius: 12px;
  	border-top-right-radius: 12px;
}

.login-form-contents{
    border-width: 1px;
    width: 415px;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.login-form-textareas {

	width: 92%;
}

.logo-login{
  height: 50px;
  margin-left: 12px;
  margin-right: -16px;
  transition : all.5s;
}

.logo-login:hover{
  transform : rotate(360deg);
}

.body-backgroud{ 
    background-color: rgba(128, 128, 128, 0.15);

}

.login-banner{

	font-family: serif;
  	font-size: 22px;
  	margin-left: 16px;
  	color: white;
  	font-weight: bold;
    font-family: fantasy;
}

.login-btn {

	width: 25%;
}

.singup-link{
	float: right;
  	margin-top: 4%;
}

.body-background{
  background-color: rgb(234, 234, 234);
}
.singin-div{
    padding-top: 2%;
    padding-left: 52%;
    background-color: rgba(3, 21, 95, 0.62);
    color:white;
    padding-bottom: 2px;   
    
}
.banner
{
  color: white;
  float: left;
  font-family: fantasy;
  padding-left: 5%;
}

.singup-div{
  background-color: white;
  color: gray;
}

.main-img-div{
  float: left;

}


.custom-singupfrom-width{
  width: 50%;
}
.custom-select{
  width: 8%;
  height: 6%;
}
.searchbar{
  width: 600px !important;
  margin-top: 6px;
  margin-left: 30px;
}

.header_div{
  background-color: rgba(151, 211, 4, 0.62)
  

}
.header_form_height{
  height: 31px;
}
.header_link
{
  color: white;
}

.header_link:hover{
  color: white;
  font-weight: bold;
}

.wrapper{
  margin-top: 20px;
  
}
.status{
  float: left;
}

.info_sec{
  float: left;
  width: 273px;
}

.status_text{
  height: 110px;
  width: 285px;
  text-align: center;

}
.user_pic{
  height: 95px;
  margin-left: 15px;
  border-radius: 50px;
}

.side_optns{
  margin-left: 15px;
}

.invalid_info{

  color: red;
  display: none; 
}
.controll_btns{

  margin-top: 5px;
}

.header_links_custom_height{
  margin-top: 8px;
}
.logo
{

  float: left;
  margin-left: 44px;
  
}
.logo_img{
  width: 50px;
  float: left;
  transition : all.5s;
  
}

.logo_img:hover{

  transform : rotate(360deg);
}
.logo-font{
  font-size: 30px;
  color: white;
  font-family: fantasy;
}
.user_options_div{
  margin-left: 22px;
  margin-top: 12px;
  margin-top: 12px;
  border-style: solid;
  width: 95px;
  border-width: 1px;
  border-radius: 11px;
  background-color: rgba(173, 240, 9, 0.1);
  border-color: rgb(190, 239, 190);
}

.user_status_text
{
  border-style: solid;
  border-color: yellow;
  border-width: 2px;
  border-radius: 16px;
}

.status_btns
{

  background-color: rgb(141, 245, 129);
  border-color: rgb(26, 194, 92);
  border-radius: 20px;
}
.user_pic_div{

  margin-left: 5px;
}

.user_info{
  border: solid;
  border-width: 1px;
  width: 850px;
  margin-left: 115px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 15px;
  border-color: rgba(128, 128, 128, 0.23);

}

.user_info_load{
    margin-top: 15px;
}
.user_info_text{
    margin-left: 60px;
    margin-top: 5px;
}
.user_info_label{
  margin-top: 15px;
  margin-left: 10px;
}

#restoff_user_info_labels{
  margin-left: 60px;
  width: 650px;
  margin-top: 5px
}

#user_contact{
  margin-top: 15px;
  display: none;
}

#user_edu_work{
   margin-top: 15px;
   display: none;
}

.profile_scrn_btns{
    margin-left: 10px;
    width: 85px;

}

.profil_scrn_btns_div{

    margin-left: 300px;
    margin-top:   5px; 

}

.search_form{

    float: left;

}

.nav_optns{
  float: right;
  margin-right: 60px;
  
}

@media(min-width: 1719px) and (max-width: 2000px){

  #search{

  width: 700px;
  margin-left: 400px;
  margin-top: 5px;

} 
.searchTd{
  width: 900px;
  margin-left: 450px;
}

}
 @media (min-width: 1229px) and (max-width: 1718px) {
#search{

  width: 500px;
  margin-left: 150px;
  margin-top: 5px;

} 
.searchTd{
  width: 500px;
  margin-left: 150px;
}
}

@media (min-width: 1090px) and (max-width: 1228px){
#search{

  width: 500px;
  margin-left: 10px;
  margin-top: 5px;

} 
.searchTd{
   width: 500px;
  margin-left: 10px;
  margin-top: 5px;
}

}

@media (min-width: 987px) and (max-width: 1089px){
#search{

  width: 400px;
  margin-left: 10px;
  margin-top: 5px;

} 

.searchTd{
   width: 500px;
  margin-left: 10px;
  margin-top: 5px;
}

}

@media (min-width: 786px) and (max-width: 986px){

  #search{
    width: 200px;
    margin-left: 10px;
    margin-top: 5px;
  }
}










